.container {
  width: 900px;
  margin: 30 auto;
}

h1 {
  text-align: center;
}
.shop {
  display: flex;
  flex-direction: column;
}
.shop__1 {
  display: flex;
}
.titles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.shop__carts {
  display: inline-flex;
  justify-content: space-between;
  border: 2px solid black;
}
.shop__cart {
  width: 640px;
  display: inline-flex;
  justify-content: space-between;
}
.shop__cart_info,
.titles__info {
  font-size: 20px;
  font-weight: bolder;
}
.shop__cart_product,
.shop__cart_info {
  padding-top: 40px;
}
